h1,
h2 {
  font-family: Lato;
}

.flex-layout {
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: center;
}

.flex-order-div {
  align-items: center;
  display: flex;
  justify-content: center;
}
.new-sandwich-order-button{
  font-weight: bold;
}
.Main-Div {
  margin: auto 3em;
  display: flex;
  flex-direction: column;
}
.create-order-button{
  margin-left: 8em;
  padding: 10px;
}
.tax-total{
  text-align: center;
}
.tax-total span{
  padding: 27px;
  font-weight: bold;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  flex-direction: row;


  /* 
  flex-wrap: wrap;
  when the available space within the flex-container can no longer house the flex-items in their default widths, break unto multiple lines */
  flex-wrap: wrap;

  /* 
    flex-flow:row wrap; 
    direction 'row' and yes, please wrap the items.  
  */
  background: gray;
  border-radius: 1rem;
  border: 0.3rem black solid;
}

button {
  padding: 10px;
  text-transform: capitalize;
}

header {
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  margin: 30px 10px auto;
}
.firstInput{
  margin-right: 13em;
}
input{
  padding: 10px;
}

.information {
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  justify-content: center;
}

.flex-order-div input {
  font-weight: 500;
  margin: 10px;
}

.flex-order-div div {
  /* margin-left: 5em;
  margin-right: 5em; */
}

.flex-item {
  width: 20%;
  height: 20px;
  border-radius: 1rem;
  max-width: 50%;
  justify-content: center;
  background-color: #8cacea;
  padding: 1rem;
  margin: 1rem;
}

.flex-item button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

/* .new-sandwich-order-button {

} */