h1,
h2 {
  font-family: Lato;
}
.flex-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  flex-direction: row;

  /* 
  flex-wrap: wrap;
  when the available space within the flex-container can no longer house the flex-items in their default widths, break unto multiple lines */
  flex-wrap: wrap;

  /* 
    flex-flow:row wrap; 
    direction 'row' and yes, please wrap the items.  
  */
  background: gray;
  border-radius: 1rem;
  border: 0.3rem black solid;
}

.flex-item {
  width: 20%;
  height: 20px;
  border-radius: 1rem;
  max-width: 50%;
  justify-content: center;
  background-color: #8cacea;
  padding: 1rem;
  margin: 1rem;
  
}
/* .new-sandwich-order-button {

} */